# .gitignore

# Ignore the virtual environment
venv/

# Ignore all .env directories
**/.env/

# Ignore macOS system files
.DS_Store
._* 
.Spotlight-V100 
.Trashes 
ehthumbs.db 
Thumbs.db

# Ignore Python bytecode files and cache directories
__pycache__/
*.pyc

# Ignore specific files

# Ignore .DS_Store in all directories
**/.DS_Store

# Ignore else
.vscode/